@font-face {
    font-family: Roboto;
    src: url('chrome-extension://__MSG_@@extension_id__/font/Roboto-Regular.ttf');
    font-weight: bold;
}

html * {
    font-family: 'Roboto', monospace !important;
}

body {
    padding: 0;
    margin: 0;
    width: 400px;
    height: 500px;
    background-color: #303030;
    color: whitesmoke;
}

/*!*Bordered Form*!*/
/*form {*/
/*border: 3px solid #f1f1f1;*/
/*}*/

/* Full-width inputs */
input[type=email], input[type=password] {
    font-family: 'Roboto', monospace;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid transparent;
    border-bottom-color: whitesmoke;
    box-sizing: border-box;
    background-color: #303030;
    font-size: 16px;
}

/* Set a style for all buttons */
button {
    background-color: #c2185b;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    /*border-radius: 50%;*/
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}

h1 {
    font-size: 16px;
}

.info_text{
    text-align: center;
}

.toggle_display {
    display: none;
}